.orderList {
	flex: 4;
	width: 100%;
	min-height: 400px;
}

.orderListItem {
	display: flex;
	align-items: center;
}

.orderListLink {
	text-decoration: none;
	color: #000000;
}

.orderListEdit {
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: #3bb077;
	color: white;
	cursor: pointer;
	margin-right: 20px;

}

.orderListDelete {
	color: red;
	cursor: pointer;
	margin-right: 3px;
}

.pending {
	color: magenta;
}

.accepted {
	color: green;
}

.fulfilled {
	color: blue;
}